.popup {
  display: grid;
}

.btn {
  margin: auto;
}

fieldset {
  width: 300px;
  height: 150px;
  margin: 8px;
}

fieldset .switch.switch-extension {
  text-align: right;
  margin: 10px 30px;
  position: relative;
}

fieldset .switch.switch-extension label::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
}